{{#each vacante}}
    <div class="vacante">
        <div class="caja">
            <h3>{{empresa}}</h3>
            <p class="puesto">{{titulo}}</p>
            <p class="candidatos">{{candidatos.length}} Candidato(s)</p>
        </div>
        <div class="centrar-vertical caja">
            <a href="/candidatos/{{_id}}" class="btn btn-amarillo">Candidatos</a>
        </div>

        <div class="centrar-vertical caja">
            <a href="/vacantes/editar/{{url}}" class="btn btn-verde">Editar</a>
        </div>

        <div class="centrar-vertical caja">
            <a href="#" data-eliminar="{{_id}}" class="btn btn-rojo eliminar">Eliminar</a>
        </div>
    </div>
{{/each}}